html{
      background-image: url('../img/globe.jpeg');
}

.jumbotron {
                text-align: center; 
            }
            
body {
   text-align: center; 
   background-color: #208E78;
   background-image: linear-gradient(#DAB177, #208E78);
   width: 1000px;
   height: 2000px;
   margin: 0 auto;
   font-size: 18px; 
   font-family: 'Open sans', sans-serif;
}

#header {
   background-color: #DAB177;
   height: 150px;
}

h1 {
   text-align:center; 
   font-family: 'Open sans', sans-serif; 
   color: black;
   font-size: 42px; 
}

#submitBtn, #playAgain {
    background-color: #DAB177;
    border-radius: 10px;
    width: 150px;
    height: 70px;
    font-size: 25px;
}
.correct{
    color: green;
    font-size: 25px;
}

.incorrect{
    color: red;
    font-size: 25px;
}

#footer_image {
  width: 240px;
  height: 80px;
  text-align: center;
}

footer {
    position: absolute;
    top: 1800px;
    padding-left: 70px;
}

h6 {
    color: red;
}