body {
text-align: center;
background-image: url('../img/fileCabinet.jpg');
font-family: 'Open Sans', sans-serif; 
color: #6F5B49;
}

img {
    padding: 10px;

}

img:hover {
    width: 250px;

}

#footer_image {
  width: 240px;
  height: 80px;
  text-align: center;
}

footer {
    position: absolute;
    top: 800px;
    padding-left: 400px;
    padding-bottom: 20px
}


